<html>
    <head>
        <title>{{ page.data.title }}</title>
    </head>
    <body>
        <div>
        {{> function capitalize(arr) {
                return arr.map(e => {
                    return e[0].toUpperCase() + e.slice(1);
                });
            }
        }}
        {{ set title = page.src.slug.split("-") }}
        <h1>TAP {{ title.shift() }} - {{ capitalize(title).join(" ") }}</h1>
        <div style="font-size: 115%;">
            <span><strong>Author: </strong>{{ page.data.author }}</span>
            <br>
            <span><strong>Status: </strong>{{ page.data.status }}</span>
            <br>
            <span><strong>Created: </strong>{{ page.data.created }}</span>
        </div>
        <div style="border-top: 1px solid gray; margin-top: 15px;"></div>
        <div>
        {{ content }}
        </div>
        </div>
    </body>
    <style>
        body {
            padding: 35px;
            margin: 0;
            background-color: #1b1c1f;
            font-family: system-ui;
        }

        body > div {
            background-color: #262a31;
            padding: 15px;
            border-radius: 7.5px;
            color: white;
        }

        table {
    	    width: 100%;
        	border-collapse: collapse;
    	    border: 1px solid white;
        }

        table thead {
            text-align: left;
        }

        table th, td {
            padding: 5px;
        }

        ul {
            padding-left: 15px;
        }

        blockquote {
            padding-left: 15px;
            border-left: 3px solid #9CC7FB;
            margin-left: 0;
        }

        pre {
            padding-left: 0;
        }

        table tbody tr {
	        border-top: 1px solid white;
        }

        table th + th, table td + td {
            border-left: 1px solid white;
            padding: 5px;
        }

        pre, code {
            font-family: Menlo, Monaco, "Courier New", monospace;
        }

        }

        @media print {
            *,
            *:before,
            *:after {
                background: transparent !important;
                color: #000 !important;
                box-shadow: none !important;
                text-shadow: none !important;
            }

            a,
        a:visited {
            text-decoration: underline;
        }

        a[href]:after {
            content: " (" attr(href) ")";
        }

        abbr[title]:after {
            content: " (" attr(title) ")";
        }

        a[href^="#"]:after,
        a[href^="javascript:"]:after {
            content: "";
        }

        thead {
            display: table-header-group;
        }

        tr,
        img {
            page-break-inside: avoid;
        }

        img {
            max-width: 100% !important;
        }

        p,
        h2,
        h3 {
            orphans: 3;
            widows: 3;
        }

        h2,
        h3 {
            page-break-after: avoid;
        }
        }

        a, a:visited {
            text-decoration: none;
            color: #9CC7FB;
        }

        a:hover,
        a:focus,
        a:active {
            color: #CFE4FB;
        }

        .retro-no-decoration {
            text-decoration: none;
        }

        html {
            font-size: 12px;
        }

        @media screen and (min-width: 32rem) and (max-width: 48rem) {
            html {
                font-size: 15px;
            }
        }

        @media screen and (min-width: 48rem) {
            html {
                font-size: 16px;
            }
        }

        p,
        .retro-p {
            font-size: 1rem;
            margin-bottom: 1.3rem;
        }

        img,
        canvas,
        iframe,
        video,
        svg,
        select,
        textarea {
            max-width: 100%;
        }
    </style>
    <style>
        @import "../../code.css";
    </style>
</html>
